table {
    width: 100%;
  }
 
  td, th { 
    width: 15% ;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .devuelto {
    cursor: pointer;
    color: #147d14;
    
}

.delete {
    cursor: pointer;
    color: #bc4317;
}
.logout {
  cursor: pointer;
  color: whitesmoke;
}
.search {
    cursor: pointer;
}
.edit {
  cursor: pointer;
  color: #1878B0;

}
.agregar {
  font-size: 10px;
  line-height: 28px;
}

.example-spacer {
  flex: 1 1 auto;
}